{<<"app">>,<<"tus_storage_s3">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Amazon S3 (or compatible) storage backend for the Tus server (https://hex.pm/packages/tus)">>}.
{<<"elixir">>,<<"~> 1.6">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/tus_storage_s3.ex">>,<<"mix.exs">>,<<"README.md">>,
  <<"LICENSE">>,<<"VERSION">>]}.
{<<"licenses">>,[<<"BSD 3-Clause License">>]}.
{<<"links">>,
 [{<<"github">>,<<"https://github.com/jpscaletti/tus-storage-s3">>}]}.
{<<"maintainers">>,[<<"Juan-Pablo Scaletti">>,<<"juanpablo@jpscaletti.com">>]}.
{<<"name">>,<<"tus_storage_s3">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"hackney">>},
   {<<"name">>,<<"hackney">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.9">>}],
  [{<<"app">>,<<"sweet_xml">>},
   {<<"name">>,<<"sweet_xml">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.6">>}],
  [{<<"app">>,<<"ex_aws">>},
   {<<"name">>,<<"ex_aws">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}],
  [{<<"app">>,<<"ex_aws_s3">>},
   {<<"name">>,<<"ex_aws_s3">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}],
  [{<<"app">>,<<"tus">>},
   {<<"name">>,<<"tus">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.1.2">>}]]}.
{<<"version">>,<<"0.1.0">>}.
